
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-slate-950);
}

textarea {
  box-sizing: border-box;
  resize: none;
}

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('./lib/poppins/Poppins-Medium.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./lib/poppins/Poppins-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./lib/poppins/Poppins-SemiBold.otf');
    font-weight: semibold;
    font-style: normal;
    font-display: swap;
  }
}