@font-face {
  font-family: 'Poppins';
  src: url('./poppins/Poppins-Medium.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins/Poppins-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins/Poppins-SemiBold.otf');
  font-weight: semibold;
  font-style: normal;
  font-display: swap;
}

:global(body) {
  background-color: #2C2C2C;
}
